body {
    display: grid;
    color: rgb(0, 0, 0);
    /* : virsus, per viduri, apacia */
    grid-template-rows: 3rem auto 10rem;
    /* grid-template-columns: auto 20%; */
    margin: 0;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #333;
    color: #eee;
    display: grid;
    place-items: stretch center;
    /* grid-column: span 2; */
}

footer {
    background-color: rgb(149, 150, 145);
    display: grid;
    place-items: stretch center;
    /* grid-column: span 2; */
}

main {
    background-image: url('/static/sea.jpeg');
    background-size: cover;
    background-position: center center;
    place-items: stretch center;
    display: grid;
}

.container {
    width: 1200px;
    max-width: 90vw;
}

header .container {
    display: grid;
    place-items: center start;
    grid-template-columns: 4rem repeat(6, auto);
}

header .logo {
    max-height: 3rem;
}

header a {
    color: #ccc;
    padding: 0.75rem;
    font-size: 130%;
    text-decoration: none;
}

header a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

main .container {
    background-color: rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: auto 20%;
    place-items: stretch stretch;

}
.sidebar {
    background-color: rgba(255, 255, 255, 0.4);
    place-items: center space-between;
}

.sidebar h3 {
    text-align: center;
}

.content h1 {
    text-align: center;
    border-bottom: 4px solid #ccc;
}
